body {
  font-family: Arial;
  font-size: 40px;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #000FFF;
}

footer {
  bottom: 0;
  font-style: italic;
  width: 100%;
  height: 100px;
}

#hyperlinks {
  background-color: black;
  color: blue;
}
#hyperlinks:hover {
  color: #99ccff;
}
#opening {
  height: auto;
  width: 50%;
}
