body {
  font-family: Arial;
  font-size: 40px;
  height: 100%;
  background-color:  #eeeeee;
}

table, th, td {
  border: 1px solid black;
}

footer {
  bottom: 0;
  font-style: italic;
  width: 100%;
  height: 0;
  font-size: 14px;
}

#hyperlinks {
  background-color: rgba(51, 59, 255, 0.5);
  color: #FFAB33;
  width: 100%;
  height: 125px;
  position: fixed;
  top: 0;
  left: 0;
}
#hyperlinks a {
  float: right;
  margin-right: 20px;
  color: ff3333;
}

#opening h1 {
    position: relative;
    top: 125;
    text-align: center;
}

#times p {
  margin-bottom: 0;
}

#notes {
  position: fixed;
  right: 0;
  top: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 25px;
  max-height: 600px;
  min-height: 200px;
  max-width: 450px;
  min-width: 150px;
  overflow: auto;
}
