body {
  font-family: Arial;
  font-size: 40px;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background-color:  #ccff99;
}

footer {
  bottom: 0;
  font-style: italic;
  width: 100%;
  height: 0;
  position: absolute;
}

#hyperlinks {
  background-image: radial-gradient(aqua, #ccff99);
  color: blue;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0
}
#hyperlinks p {
  font-size: 20px;
}
#hyperlinks:hover {
  color: #99ccff;
}
#opening {
  height: auto;
  width: 50%;
}
