body {
  font-family: Arial;
  font-size: 25px;
  height: 100%;
  margin: 0;
  padding: 0;
}
#hyperlinks {
  float: left;
  display: inline;
  color: blue;
}
#hyperlinks:hover {
  color: #99ccff;
}
#opening {
  height: auto;
  width: 50%;
}
footer {
  bottom: 0;
  font-style: italic;
  width: 100%;
  height: 100px;
}
