body {
  font-family: Arial;
  font-size: 40px;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background-color:  #ccff99;
}

footer {
  bottom: 0;
  font-style: italic;
  width: 100%;
  height: 0;
  position: absolute;
}

#hyperlinks {
  background-color: #333BFF;
  color: #FFAB33;
  width: 100%;
  height: 125px;
  position: absolute;
  top: 0
}
#hyperlinks p {
  font-size: 20px;
}
#hyperlinks:hover {
  color: #99ccff;
}
#opening {
  height: auto;
  width: 50%;
}

#notes {
  position: absolute;
  right: 0;
  top: 300px;
}
